body {
  margin : 0;
  font-family : "Lucida Grande", sans-serif;
}

.hero {
  /* Size */
  width : 100vw;
  height : 100vh;

  /* Flexbox */
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;

  /* Background */
  background-image : linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../pics/cheesin.jpg");
  background-size : cover;
  background-position : center center;
  background-repeat : no-repeat;
  background-attachment : fixed;
}

.hero #lead {
  font-size: 1.75em;
  text-align: left;

  /* Margins */
  margin-top : 0;
  margin-bottom : 0.5em;

  /* Text */
  color : #0de4e7;
}

.hero h1 {
  /* Header */
  font-size : 5em;

  /* Margins */
  margin-top : 0;
  margin-bottom : 0.5em;
}

.navbar-nav .nav-item .nav-link{
	padding: 1em 1em!important;
	font-size: 100%;
  letter-spacing: 1px;
  color: #fff;
}

.navbar-nav .nav-item .nav-link:hover{color:#fed136;}

.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid #fed136;
}

nav {
  -webkit-transition: padding-top .3s,padding-bottom .3s;
  -moz-transition: padding-top .3s,padding-bottom .3s;
  transition: padding-top .3s,padding-bottom .3s;
  border: none;
}
	
.shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #212529;
}

.nav-pills a{
  color : black;
}

.nav-pills a:hover {
  background-color: #d5eeff;
}

.work {
  height: auto;
  width: 80%;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.work:hover {
  transform: scale(1.15);
  transition-duration: 0.5s;
}

@keyframes fade-in {
  from{opacity: 0; transform: translateY(10%);}
    to {opacity: 1;}
}

.fade-in-element {
  animation: fade-in 1.4s;
}

.row-m-t {
  margin-top: 20vh;
}

.hidden {
  opacity: 0;
}

li:not(:last-child) {
    margin-bottom: 15px;
}

/*SOCİAL İCONS (CODE REFERENCED FROM https://codepen.io/NamiqNamaz/pen/QZYyEq)*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoGitHub:hover {
  background-color: #f09a28;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoAt:hover {
  background-color: #652cf5;
}

.social-network a.icoResume:hover {
  background-color: #1ed2a1;
}

.social-network a.icoGitHub:hover i,
.social-network a.icoAt:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoResume:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.social-circle li i {
  margin-left: 2px;
  line-height: 40px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #b0b0b0;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
  vertical-align: middle;
}

.social-network a {
  background-color: transparent;
}