html {
  letter-spacing: 1.5px;
  font-family: "Palatino", serif;
  background-color: white;
  width: 1440px;
  margin: 0 auto;
}

header {
	padding: 80px 0 20px;
    text-align: center;
    margin-bottom: 10px;
}

li a {
    text-decoration: none;
    color: black;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: 300;
}

p {
	text-align: center;
}

#menu {
	display: inline;
	float: center;
}

#menu ul {
	margin: 10px;
    padding: 10px;
    height: 100%;
    list-style: none;
    text-align: center;
}

#menu li {
	margin: 10px;
	padding: 10px;
	display: inline;
}

#foot {
	text-align: middle;
	font-size: 13px;
	padding-left: 300px;
	padding-top: 20px;
	padding-right: 300px;
}

#profile {
	text-align: center;
	width: 300px;
	height: auto;
}

#abt {
	padding-bottom: 15px;
}

.center {
	text-align: center;
}

.inline {
	display: inline;
}

.active {
    color: #252CF3;
    font-weight: 2px;
}